.background-image {
  background-position: 50% 50%;
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-size:cover;
  width: calc(100vw - 20px);
  height: 100%;
}

.container{
    margin: auto;
    text-align: center;
    width: auto;
    max-width: calc(100vw - 0px);
    height: max-content;
}
.with-less-blur-backdrop {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    height: inherit;
    width: inherit;
    padding: 20px 0px;
}

.with-blur-backdrop {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: inherit;
    width: inherit;
    padding: 20px 0px;
}

.with-more-blur-backdrop {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    height: inherit;
    width: inherit;
    padding: 20px 0px;
}
.content {
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    height: 100%
    width: 100%
}
.gallery img {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 6px;
    transition: transform 0.2s;
    object-fit: contain;
}
.gallery img:hover {
    transform: scale(1.02);
} 
.gallery figure {
    margin: 0;
    max-width:600px;
}

.gallery figcaption {
    text-align: center;
    font-family: "Cormorant", serif;
    font-size: 36px;
    opacity: 0.8;
    background-color: gray;
    border-radius: 6px;
    color: white;
}

.gallery h1 {
    text-align: center;
    font-weight: normal;
    font-family: "Great Vibes", serif;
    font-size: 84px;
    color: white;
}
body {
font-family: 'Great Vibes', serif;
    font-size: 44px;
    text-align: center;
}
h1 {
    font-family: 'Great Vibes', serif;
    font-weight: normal;
    font-size: px;
    text-align: center;
    line-height: 84px;
    color: white;
}

h2 {
    font-family: 'Great Vibes', serif;
    font-weight: normal;
    font-size: 72px;
    text-align: center;
    line-height: 60px;
    color: white; 
}
h3 {
    font-family: 'Great Vibes', serif;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    line-height: 60px;
    color: white; 
}
p {
    color: white;
    font-family: 'Cormorant', serif;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    
}

a {
    color: #FCCCF6;
    font-family: 'Cormorant', serif;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
}

faqq {
    color: #FCCCF6;
    font-family: 'Cormorant', serif;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

faqa {
    color: white;
    font-family: 'Cormorant', serif;
    font-weight: normal;
    line-height: 1.2;
    font-size: 24px;
    text-align: left; 
    width: 100%;
    display: block;
