.container{
    margin: auto;
    text-align: center;
    width: max-content;
}
p {
    backdrop-filter: contrast(40%);
    color: white;
}
a {
    backdrop-filter: contrast(40%);
}

names {
    font-size:
    66px;
}

date {
    66px;
}

body {
font-family: 'Great Vibes', serif;
    font-size: 44px;
    text-align: center;
        background-image: url('assets/img/DSC03640.jpg');
        /* backdrop-filter: contrast(0.5) */
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size:cover;
        background-position: 50%;
}

